/* Generale */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.larghezza{
    width: 70%;
}

ul{
    list-style-type: none;
}

.fs08{
    font-size: 0.8em;
}
/* Header */
header{
    background-color: rgba(255,105,0,255);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 0.8em;
}

header > nav{
    display: flex;
}

.section1_3{
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section2{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1_3 > ul{
    display: flex;
}

li{
    margin-right: 10px;
}

.section2 > img{
    width: 30%;
}

#section3{
    justify-content: flex-end;
}

#section3 li:last-child{
    margin-right: 0;
}
/* Main */
main{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

main > section{
    display: flex;
    justify-content: space-between;
}

.photoContainer{
    width: 32.5%;
    position: relative;
}

.photoContainer > img{
    width: 100%;
    display: block;
}

.hearts{
    background-color: white;
    padding: 5px 10px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 1.5em;
}

.sconto{
    background-color: red;
    padding: 3px 5px;
}

.sconSosContainer{
    color: white;
    position: absolute;
    left: 0;
    bottom: 30px;
}

.sostenibilita{
    background-color: green;
    padding: 3px 5px;
}

.prezzo1{
    color: red;
}

.barra{
    text-decoration: line-through;
}

.posRel{
    position: relative;
}

#riga2{
    margin-top: 30px;
}

.marca{
    margin-top: 3px;
}
/* Footer */
footer{
    background-color: rgba(26,26,26,255);
    display: flex;
    justify-content: center;
}

footer > div{
    display: flex;
    padding: 10px 0;
    color: white;
}

#section1footer{
    height: 100%;
    width: 70%;
}

#section1footer ul{
    display: flex;
    margin-top: 10px;
}

#section1footer li:last-child{
    margin-right: 0;
}

#section2footer{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#section2footer ul{
    display: flex;
    margin-top: 10px;
}

#section2footer li:last-child{
    margin-right: 0;
}